body {
    max-width: 1366px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

/* Navigation Bar Section */
nav{
    margin-left: 128px;
    margin-right: 128px;
    display: flex;
    justify-content: space-between;
    align-items: cester;
}
.travel-logo{
    align-items: center;
    display: flex;
    gap: 1 rem;
    cursor: pointer;
}
.logo{
    width: 48px;
    height: 56.008px;
}
.text{
    color: #FF5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.optional-bar{
 margin-top: 53 px;
    display: flex;
    gap: 44px;
    list-style: none;
    color: #424247;
    font-size: 18 px;
}
.optional-bar-icon{
    display: none;
}
.optional-bar .home{
    color: #FF5400;
    font-weight: 700;
}
.Trip{
    color: #131318;
}

/* Banner Section  */
.banner {
    margin: 48px 128px;
    width: 1170px;
    height: 500px;
    text-align: center;
    background-image: linear-gradient(180deg,rgba(19, 19, 24, 0.8) 0%,rgba(19, 19, 24, 0) 100%),
    url("images/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-index {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .discription {
    margin: 0px auto;
    width: 676px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .search-option {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 44px 176px 0px;
  }
  .select-bar,
  .input {
    border-radius: 8px;
    border: none;
    padding: 16px;
    background: #FFF;
    font-size: 16px;
    width: 174px;
  }
  .search-button {
    pad: 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 53px;
    background-color: #FF5400;
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 16px;
  }

  /* Populer Tours Section */
  .popular-section {
    margin: 80px 128px;
    display: flex;
    gap: 32px;
  }
  .popular-title {
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .pupular-discription {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .popular-points {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  .populer-button {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: #ff5400;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
  }































  /* Destinations Section */
.destination-header {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
  }
  .destination-discription {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 45px;
  }
  .destination-images {
    margin: 0px 128px;
  }
  .destination-images > div {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .destination-image-1,
  .destination-image-2,
  .destination-image-3 {
    display: flex;
    gap: 16px;
  }
  .country-name-1 {
    background-image: url("images/Rectangle\ 5.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 573px;
    height: 300px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 3px #FFF;
  }
  .country-name-2 {
    background-image: url("images/Rectangle\ 8.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 573px;
    height: 300px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 3px #FFF;
  }
  .country-name-3 {
    background-image: url("images/Rectangle\ 6.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 374px;
    height: 286px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 3px #FFF;
  }
  .country-name-4 {
    background-image: url("images/Rectangle\ 7.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 474px;
    height: 286px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 3px #FFF;
  }
  .country-name-5 {
    background-image: url("images/Rectangle\ 9.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 274px;
    height: 286px;
    border-radius: 16px;
    margin-bottom: 16px;
    border: 3px #FFF;
  }
  .country-name-6 {
    background-image: url("images/Rectangle\ 11.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 473px;
    height: 300px;
    border-radius: 16px;
    border: 3px #FFF;
  }
  .country-name-7 {
    background-image: url("images/Rectangle\ 10.png");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 673px;
    height: 300px;
    border-radius: 16px;
    border: 3px #FFF;
  }
  .country-name-1:hover,
  .country-name-2:hover,
  .country-name-3:hover,
  .country-name-4:hover,
  .country-name-5:hover,
  .country-name-6:hover,
  .country-name-7:hover{
    border: 3px solid blueviolet;}

/* Bonus Section */
.featured{
    display: flex;
    gap: 96px;
    margin-top: 150px;
    margin-left: 100px;
    align-items: center;

}
.featured button{
    border: none;
    color: #FF5400;
    font-size: 16px;
    padding: 10px 24px;
    font-weight: 700;
}
.featured p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
}
.featured h2{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
}
.featured img{
    width: 573px;
    height: 300px;
    border-radius: 16px;
}


















  /* Newslater Section */
.news-section {
    margin: 115px 135px;
    display: flex;
    gap: 16px;
  }
.news-context {
    width: 28.10263rem;
    height: 25.01963rem;
    border-radius: 0.94863rem;
    border: 0.949px solid #ff5400;
  }
.subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 40px;
    padding-right: 40px;
  }
.news-img {
    width: 640px;
    height: 400px;
    position: relative;
  }
.news-img img {
    width: 100%;
    height: 100%;
  }
.text-2 {
    position: absolute;
    top: 55%;
    left: 50%;
    border-radius: 16px;
    background: #ff5400;
    transform: rotate(-19.628deg);
    text-align: center;
  }
.text-2 p {
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    padding: 0px 16px;
    margin: 16px 0px;
  }
.text-2 span {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
.news-title {
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 40px;
    padding-left: 40px;
  }
.news-discription {
    color: #5a5a5d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding-left: 40px;
    margin-bottom: 35px;
  }
.subscribe input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    color: rgba(19, 19, 24, 0.3);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px;
  }
.sub-btn {
    width: 393px;
    height: 52px;
    margin-left: 25px;
    margin-top: 24px;
    padding: 8px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
  }
.sub1{
    color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 800;
  }

    /* Footer Section */
    footer {
        background: rgba(19, 19, 24, 0.05);
      }
      .footer-section{
        display: flex;
       gap: 16px;
       padding-top: 116px;
       margin-left: 600px;
      }
      .logo-text span{
        color: #FF5400;
      }
      .logo-text{
        font-size: 32px;
        font-weight: 800;
        margin-top: 10px;
      }
      .footer-descrption {
        width: 769px;
        margin: 0px auto 16px;
        color: #5A5A5D;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
      }
      .social{
        margin-top: 16px;
        margin-left: 633px;
        width: 174px;
        height: 24px;
      }
      hr {
        margin-top: 50px;
        width: 872px;
        background: rgba(19, 19, 24, 0.10);
      }
      .copyright {
        margin: 50px auto 0px;
        padding-bottom: 110px;
        text-align: center;
        color: #131318;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }