body {
    max-width: 1366px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

/* Navigation Bar  */
nav{
    margin-left: 128px;
    margin-right: 128px;
    display: flex;
    justify-content: space-between;
    align-items: cester;
}
.travel-logo{
    align-items: center;
    display: flex;
    gap: 1 rem;
    cursor: pointer;
}
.logo{
    width: 48px;
    height: 56.008px;
}
.text{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.optional-bar{
 margin-top: 53 px;
    display: flex;
    gap: 44px;
    list-style: none;
    color: #424247;
    font-family: Mulish;
    font-size: 18 px;
}
.optional-bar-icon{
    display: none;
}
.optional-bar .home{
    color: #FF5400;
    font-weight: 700;
}
.Trip{
    color: #131318;
}

/* Banner  */
.banner {
    margin: 48px 128px;
    width: 1170px;
    height: 500px;
    text-align: center;
    background-image: linear-gradient(180deg,rgba(19, 19, 24, 0.8) 0%,rgba(19, 19, 24, 0) 100%),
    url("images/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-index {
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .discription {
    margin: 0px auto;
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
  
  .search-option {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 44px 176px 0px;
  }
  .select-bar,
  .input {
    border-radius: 8px;
    border: none;
    padding: 16px;
    background: #FFF;
    font-family: Mulish;
    font-size: 16px;
    width: 174px;
  }
  .search-button {
    pad: 16px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 53px;
    background-color: #FF5400;
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
  }
  
